<!--[chatlogin]-->
<div class="chatlogin-con">
    <div class="chatlogin-con-label">Input Your Name To Join Chating</div>
    <div class="chatlogin-con-input"><input data-find="input" type="text" placeholder="username"/></div>
    <div class="chatlogin-con-btn" data-find="login">Login</div>
</div>
<!--[chatcontainer]-->
<div class="chatcontainer-left">
    <div class="chatcontainer-left-title">Online User List</div>
    <div class="chatcontainer-left-list">
        <@module type="{{data.chatlistType}}"/>
    </div>
</div>
<div class="chatcontainer-right" data-find="boxcontainer"></div>
<!--[chatbox]-->
<div class="chatbox-title">Talking With:<%=data.info.id;%></div>
<div class="chatbox-box" data-find="messbox">
    <%for(var i in data.message){%>
        <%if(data.message[i].id===data.id){%>
        <div class="chat-box-item right">
            <span class="b"><%=data.message[i].msg;%></span>
            <span class="a"><%=data.message[i].id;%></span>
        </div>
        <%}else{%>
        <div class="chat-box-item left">
            <span class="a"><%=data.message[i].id;%></span>
            <span class="b"><%=data.message[i].msg;%></span>
        </div>
        <%}%>
    <%}%>
</div>
<div class="chatbox-tools">
    <div class="chatbox-tools-input"><textarea data-find="input"></textarea></div>
    <div class="chatbox-tools-btn" data-find="send">send</div>
</div>
<!--[chatlist]-->
<%for(var i in data){%>
<div class="chatbox-item<%=(data[i].state?" state":"");%>" data-find="item" @cache(data[i])>
    <div class="a"><%=data[i].id;%></div>
    <div class="b"><span></span></div>
</div>
<%}%>